.perfect {
  padding-top: 100px;
  &__img {
   width: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
  }
  &__span {
    font-size: 14px;
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 40px;
    span {
      color: red;
      margin-right: 30px;
    }
  }
  &__text {
    max-width: 1000px;
    margin: 0 auto;
    color: rgb(100, 100, 100);
    margin-bottom: 30px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 900px) {
  .perfect {
    &__img {
      width: 100%;
       
     }
  }
}
@media only screen and (max-width: 500px) {
  .perfect {
    &__span {
      font-size: 10px;
    }
    &__text {
     font-size: 12px;
    }
  }
}