* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  /* display: flex;
  flex-direction: column; */
  /* height: 100%; */
  margin: 0;
  font-family: "Unbounded", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

li,
button {
  cursor: pointer;
  cursor: pointer;
}
.container {
  /* width: 100%; */
  max-width: 1450px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
